.products {
  background: rgb(244, 244, 244);
  padding: 5rem 0;
  min-height: 90vh;
}

.products__title {
  font-size: 3.4rem;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #e6e6e6;
  color: #292929;
}

.products__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 50px 25px;
}

.products__wrapper__product--card {
  background: #ececec;
  padding: 0.5rem;
  padding-bottom: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.product--card__img img {
  cursor: pointer;
  width: 100%;
  display: block;
  user-select: none;
  animation: fade 700ms ease;
}

.product--card__img .hover-img {
  display: none;
}

.product--card__details {
  padding: 1.5rem 0;
  max-width: 270px;
  margin-inline: auto;
}

.product--card__details .title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.product--card__details .price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.product--card__btn {
  width: 100%;
  max-width: 270px;
  display: block;
  margin-inline: auto;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
